extends ../base

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls.videoControls-div
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__databox
        div.video__data
            div.video__data-owner
                a(href=`/users/${video.owner._id}`)
                    if loggedInUser.avatarUrl.includes("github")
                        img.header__avatar(src=loggedInUser.avatarUrl)
                    else 
                        img.header__avatar(src="/" + loggedInUser.avatarUrl)
            div.video__data-detail
                medium.video__title=video.title
                div.video__data-sub
                    small.video__owner #{video.owner.username}
                    small.video__createdAt=new Date(video.createdAt).toLocaleDateString( {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        div.video__option
            if String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`).video__option-edit Edit Video &rarr;
                a(href=`${video.id}/delete`).video__option-delete Delete Video &rarr;


    if loggedIn
        form.video__comment-form#commentForm
            textarea(cols="50", rows="2", placeholder="write a nice comment...")
            button Add Comment
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    i.fas.fa-comment
                    span   #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id)
                        span.deleteComment    delete
block scripts 
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")